---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceInEmptyParentheses: false
ColumnLimit: 0
SortIncludes: false
IncludeBlocks: Preserve
ReflowComments: false
MaxEmptyLinesToKeep: 1
IndentCaseLabels: true
...
